/* Variables */
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #33363b;
  margin: 0 auto;
}

.container {
  background-image: url(/images/main.jpeg);
  background-position: center center;
  background-size: cover;
  margin-top: 0;
  color: white;
}

.golden {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 34px;
  border: 1px dotted burlywood;
}

.golden h5 {
  margin: 30px 0 0 0;
}

.navigation {
  display: flex;
  position: relative;
  font-family: "Lato", sans-serif;
  justify-content: center;
  border: 1px dotted #1e9d1a;
}

.navigation ul {
  position: absolute;
  margin-top: 30px;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navigation ul li a:hover {
  color: #dca357;
}

header {
  display: flex;
  min-height: 70vh;
  position: relative;
  align-items: center;
  border: 1px solid red;
}

header .inner {
  padding: 0;
  display: block;
  position: absolute;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  border: 1px dotted red;
}

header .inner h3 {
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
}

header .inner h1 {
  font-size: 64px;
}

header .inner .btn {
  display: inline-block;
  font-size: 20px;
  background-color: #dca357;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 5px;
}

header .inner .btn:hover {
  background-color: rgba(220, 163, 87, 0.8);
}
